In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df= pd.read_csv('C:/Users/andre/OneDrive/Escritorio/InfAplicadaTP02/Ejercicio12/datoejercicio12.csv')

In [3]:
df

,timestamp,Basilea Temperature [2 m elevation corrected],Basilea Precipitation Total,Basilea Wind Speed [10 m],Basilea Wind Direction [10 m]
0,20201110T0000,10.240529,0.0,6.608722,119.357740
1,20201110T0100,9.680529,0.0,6.792466,122.005380
2,20201110T0200,9.490529,0.0,7.100310,120.465546
3,20201110T0300,9.210529,0.0,7.100310,120.465546
4,20201110T0400,8.820529,0.0,7.289445,122.905240
...,...,...,...,...,...
187,20201117T1900,11.590529,0.0,6.696387,126.253840
188,20201117T2000,10.580529,0.0,6.915374,128.659800
189,20201117T2100,9.730529,0.0,6.696387,126.253840
190,20201117T2200,8.860529,0.0,6.989936,124.508514
191,20201117T2300,8.190529,0.0,7.145796,130.914380

In [4]:
print(df.columns)

Index(['timestamp', 'Basilea Temperature [2 m elevation corrected]',
       'Basilea Precipitation Total', 'Basilea Wind Speed [10 m]',
       'Basilea Wind Direction [10 m]'],
      dtype='object')

In [5]:
print(df.dtypes)

timestamp                                         object
Basilea Temperature [2 m elevation corrected]    float64
Basilea Precipitation Total                      float64
Basilea Wind Speed [10 m]                        float64
Basilea Wind Direction [10 m]                    float64
dtype: object

In [6]:
print(df.info)

<bound method DataFrame.info of          timestamp  Basilea Temperature [2 m elevation corrected]  \
0    20201110T0000                                      10.240529
1    20201110T0100                                       9.680529
2    20201110T0200                                       9.490529
3    20201110T0300                                       9.210529
4    20201110T0400                                       8.820529
..             ...                                            ...
187  20201117T1900                                      11.590529
188  20201117T2000                                      10.580529
189  20201117T2100                                       9.730529
190  20201117T2200                                       8.860529
191  20201117T2300                                       8.190529

     Basilea Precipitation Total  Basilea Wind Speed [10 m]  \
0                            0.0                   6.608722
1                            0.0                   6.792466
2                            0.0                   7.100310
3                            0.0                   7.100310
4                            0.0                   7.289445
..                           ...                        ...
187                          0.0                   6.696387
188                          0.0                   6.915374
189                          0.0                   6.696387
190                          0.0                   6.989936
191                          0.0                   7.145796

     Basilea Wind Direction [10 m]
0                       119.357740
1                       122.005380
2                       120.465546
3                       120.465546
4                       122.905240
..                             ...
187                     126.253840
188                     128.659800
189                     126.253840
190                     124.508514
191                     130.914380

[192 rows x 5 columns]>

In [7]:
df

,timestamp,Basilea Temperature [2 m elevation corrected],Basilea Precipitation Total,Basilea Wind Speed [10 m],Basilea Wind Direction [10 m]
0,20201110T0000,10.240529,0.0,6.608722,119.357740
1,20201110T0100,9.680529,0.0,6.792466,122.005380
2,20201110T0200,9.490529,0.0,7.100310,120.465546
3,20201110T0300,9.210529,0.0,7.100310,120.465546
4,20201110T0400,8.820529,0.0,7.289445,122.905240
...,...,...,...,...,...
187,20201117T1900,11.590529,0.0,6.696387,126.253840
188,20201117T2000,10.580529,0.0,6.915374,128.659800
189,20201117T2100,9.730529,0.0,6.696387,126.253840
190,20201117T2200,8.860529,0.0,6.989936,124.508514
191,20201117T2300,8.190529,0.0,7.145796,130.914380

In [22]:
velocidadMaxima=df.agg('Basilea Wind Speed [10 m]').max()

In [23]:
velocidadMaxima

28.036118

In [25]:
velocidadMinima=df.agg('Basilea Wind Speed [10 m]').min()

In [26]:
velocidadMinima

0.35999998

In [27]:
temperaturaMaxima=df.agg('Basilea Temperature [2 m elevation corrected]').max()

In [28]:
temperaturaMaxima

18.13053

In [29]:
temperaturaMinima=df.agg('Basilea Temperature [2 m elevation corrected]').min()

In [30]:
temperaturaMinima

5.350528700000001

In [36]:
print(df.head(n=50))

        timestamp  Basilea Temperature [2 m elevation corrected]  \
0   20201110T0000                                      10.240529
1   20201110T0100                                       9.680529
2   20201110T0200                                       9.490529
3   20201110T0300                                       9.210529
4   20201110T0400                                       8.820529
5   20201110T0500                                       8.550529
6   20201110T0600                                       8.340529
7   20201110T0700                                       7.710528
8   20201110T0800                                       7.300529
9   20201110T0900                                       8.230529
10  20201110T1000                                      10.830529
11  20201110T1100                                      12.820529
12  20201110T1200                                      14.570529
13  20201110T1300                                      14.800530
14  20201110T1400                                      15.690529
15  20201110T1500                                      16.110529
16  20201110T1600                                      15.890529
17  20201110T1700                                      15.160529
18  20201110T1800                                      14.440529
19  20201110T1900                                      13.470529
20  20201110T2000                                      13.050529
21  20201110T2100                                      12.700529
22  20201110T2200                                      11.920529
23  20201110T2300                                      11.270529
24  20201111T0000                                      10.820529
25  20201111T0100                                      10.540529
26  20201111T0200                                      10.720529
27  20201111T0300                                      10.230529
28  20201111T0400                                       9.080529
29  20201111T0500                                       8.890529
30  20201111T0600                                       9.070529
31  20201111T0700                                       9.320529
32  20201111T0800                                       9.700529
33  20201111T0900                                      10.740529
34  20201111T1000                                      11.880529
35  20201111T1100                                      13.120529
36  20201111T1200                                      14.130529
37  20201111T1300                                      13.370529
38  20201111T1400                                      14.080529
39  20201111T1500                                      14.210529
40  20201111T1600                                      13.720529
41  20201111T1700                                      12.770529
42  20201111T1800                                      12.050529
43  20201111T1900                                      10.680529
44  20201111T2000                                       9.120529
45  20201111T2100                                       7.880529
46  20201111T2200                                       7.160529
47  20201111T2300                                       6.600529
48  20201112T0000                                       5.640529
49  20201112T0100                                       5.350529

    Basilea Precipitation Total  Basilea Wind Speed [10 m]  \
0                           0.0                   6.608722
1                           0.0                   6.792466
2                           0.0                   7.100310
3                           0.0                   7.100310
4                           0.0                   7.289445
5                           0.0                   7.594208
6                           0.0                   7.903619
7                           0.0                   8.707237
8                           0.0                   8.534353
9                           0.0                   7.568566
10                          0.0                   9.000000
11                          0.0                   7.993298
12                          0.0                   6.840000
13                          0.0                   1.800000
14                          0.0                   3.219938
15                          0.0                   4.349896
16                          0.0                   4.680000
17                          0.0                   4.680000
18                          0.0                   4.693826
19                          0.0                   4.024922
20                          0.0                   5.052841
21                          0.0                   6.379216
22                          0.0                   6.763786
23                          0.0                   5.600286
24                          0.0                   4.510787
25                          0.0                   3.671294
26                          0.0                   2.276840
27                          0.0                   2.099143
28                          0.0                   1.938659
29                          0.0                   1.080000
30                          0.0                   3.096837
31                          0.0                   3.319036
32                          0.0                   4.024922
33                          0.0                   4.104631
34                          0.0                   5.400000
35                          0.0                   4.394360
36                          0.0                   4.024922
37                          0.0                   8.640000
38                          0.0                   7.787991
39                          0.0                   9.693296
40                          0.0                   7.695920
41                          0.0                   7.172949
42                          0.0                   6.877790
43                          0.0                   7.421590
44                          0.0                   7.903619
45                          0.0                   8.496304
46                          0.0                   9.673221
47                          0.0                  10.182337
48                          0.0                  10.195057
49                          0.0                   9.585739

    Basilea Wind Direction [10 m]
0                      119.357740
1                      122.005380
2                      120.465546
3                      120.465546
4                      122.905240
5                      121.429565
6                      120.068590
7                      119.744880
8                      117.645970
9                      115.346170
10                     106.260200
11                      97.765160
12                      89.999990
13                     360.000000
14                     333.434970
15                     335.556030
16                     337.380130
17                     337.380130
18                     327.528800
19                     296.565060
20                     265.914370
21                     253.610460
22                     244.798890
23                     225.000000
24                     208.610460
25                     191.309940
26                     161.565050
27                      30.963745
28                      21.801407
29                      89.999990
30                     125.537674
31                     130.601290
32                     116.565050
33                     105.255120
34                     126.869896
35                     145.007980
36                     116.565050
37                      89.999990
38                     123.690060
39                     111.801410
40                     100.784294
41                     107.525570
42                     132.878900
43                     140.906140
44                     149.931410
45                     143.615650
46                     135.000000
47                     135.000000
48                     132.137590
49                     124.286870